<!DOCTYPE html>
<html>
  <head>
    <title>SponsorPay API Integration</title>
  </head>
  <body>
    <h1>API Integration</h1>
    <p>
      <form action="/offers" method="post">
        <label for="uid">Uid:</label>
        <input name="uid" type="text" />

        <label for="pub0">Pub0:</label>
        <input name="pub0" type="text" />

        <label for="page">Page:</label>
        <input name="page" type="text" />

        <input type="submit" />
      </form>
    </p>
  </body>
</html>
