<!DOCTYPE html>
<html>
  <head>
    <title>SponsorPay API Integration</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
  </head>
  <body>
    <h1>Offers</h1>
    <p>
      <% if offers.empty? %>
      No offers.
      <% else %>
      Found <%= offers.size %> offer(s).
      <table border="1">
        <thead>
          <tr>
            <th>Thumbnail</th>
            <th>Title</th>
            <th>Payout</th>
          </tr>
        </thead>
        <tbody>
          <% offers.each do |offer| %>
          <tr>
            <td class="thumb"><img src="<%= offer["thumbnail"]["lowres"] %>" /></td>
            <td><%= offer["title"] %></td>
            <td class="value"><%= offer["payout"] %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <% end %>
    </p>
    <p>
      <a href="/">Go back.</a>
    </p>
  </body>
</html>
