body, input { font-family: sans-serif; }
table { border-color: #bebebe; border-width: 0 0 1px 1px; border-style: solid; border-collapse: collapse; }
td { padding: 10px; }
td.thumb { text-align: center; }
td.value { text-align: right; }
